# General
telethon
pyrogram==1.4.12
aiogram == 2.13
python-telegram-bot==12.8

# DBs
redis
aioredis==1.3.0 # Redis memery storage fom aiogram
pymongo
motor
odmantic # MongoDB ORM
sqlalchemy==1.3.20 # For old modules
dnspython # needed to connect to cloud MongoDB instances

# Optional deps to make bot faster
aiohttp[speedups]
cryptg
cryptography

# Other
jikanpy
envparse
hypercorn
aiocron
python-rapidjson
PyYAML>5.0
coloredlogs
loguru
babel
captcha
async-timeout
regex
bs4
lxml
spamwatch
httpx[http2]
wikipedia
PyDictionary==2.0.1
google-trans-new==1.1.9
googletrans #fuckthis
hachoir
telegraph
faker
gtts
geopy
lyricsgenius
sentry_sdk
lxml
html5lib
feedparser
tldextract
# twistdl
validators

#Pyrogram
tgCrypto>=1.2.2

#Old DB Processes
psycopg2-binary==2.8.6

#YTDL
youtube_dl
youtube_search_python
yt_dlp


#Search
bs4
html2text
bing_image_downloader 
search_engine_parser
pornhub_api
youtube_search

#Memes
selenium
zalgo_text 
cowpy 
fontTools
nltk
emoji

#Deezer
wget
asyncio

#Markup
Markdown>=3.3.4

#profanity (Credits to Julia)
better_profanity
textblob 
nudepy

#ImageEditor
glitch_this
NumPy
opencv-python-headless

#Bassboost
pydub

#Lel
cloudmersive_virus_api_client==3.0.1
chromedriver==2.24.1

#Updator
gitpython==3.1.11
heroku3==4.2.3

pykeyboard 
countryinfo
flag
Python_ARQ 
pyromod
aiofiles
pygithub

tzlocal==2.0




future
lxml
wget
gtts
faker
youtube_dl
beautifulsoup4
requests
feedparser
hachoir
pynewtonmath
Python_ARQ
spongemock
python-arq
zalgo-text
geopy
nltk
psutil
aiohttp[speedups]
Pillow>=4.2.0
CurrencyConverter
gpytranslate
jikanpy
speedtest-cli
coffeehouse==2.2.4
regex
bleach
# git+https://github.com/MatheeshaOfficial/python-markdown2
markdown2
wikipedia
telegraph
spamwatch
alphabet_detector
pybase64
pySmartDL
validators
nekos.py
aiofiles
pyrate-limiter
cachetools
ujson
pretty_errors
youtube-dl
youtube_search_python
youtube_search
asyncio
dateparser==1.0.0
pymongo
dnspython
secureme
Intellivoid-SPB
apscheduler==3.6.3
emoji-country-flag
countryinfo
html2text
bs4
fontTools
bing_image_downloader
search_engine_parser
pytz
lyricsgenius
tswift
envparse
better_profanity
nudepy
cloudscraper
#ImageEditor
glitch_this
NumPy
opencv-python-headless
#Captha
multicolorcaptcha


